<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wesicknessdect.example.org.wesicknessdetect">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".activities.SettingsActivity"></activity>
        <activity android:name=".activities.DiseaseActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity android:name=".activities.CommunityActivity" />
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ChooseCulturePartActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.register.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".activities.FinalResultActivity"
            android:label="@string/title_activity_resultat_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProcessActivity"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.BaseActivity" />
        <activity android:name=".activities.ConversationActivity" />
        <activity android:name=".activities.QuizActivity" />
        <activity android:name=".activities.login.LoginActivity" />
        <activity android:name=".activities.PartialResultActivity" />
        <activity android:name=".activities.AnalysisDetailsActivity" />

        <service
            android:name=".utils.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".utils.OfflineService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>