<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="wesicknessdect.example.org.wesicknessdetect">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="wesicknessdect.example.org.wesicknessdetect.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="wesicknessdect.example.org.wesicknessdetect.permission.C2D_MESSAGE" />

    <application
        android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.utils.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.utils.BootReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_CHANGED"/>
            </intent-filter>
        </receiver>

        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.NotificationActivity">

        </activity>
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.SettingsActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.DiseaseActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.ProfileActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.CommunityActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.ChooseCulturePartActivity"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.register.SignupActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.MainActivity" />
        <activity
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.FinalResultActivity"
            android:label="@string/title_activity_resultat_final"
            android:theme="@style/AppTheme" />
        <activity
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.ProcessActivity"
            android:theme="@style/AppTheme" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.BaseActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.ConversationActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.QuizActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.login.LoginActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.PartialResultActivity" />
        <activity android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.activities.AnalysisDetailsActivity" />

        <service
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.utils.DownloadService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.utils.OfflineService"
            android:enabled="true"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <receiver android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.AlarmReceiver" />
        <receiver android:name="wesicknessdect.example.org.wesicknessdetect.wesicknessdect.example.org.wesicknessdetect.utils.SyncReceiver" />
    </application>

</manifest>